*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sve
{
    display: flex;
}
html,body,.sve
{
    width: 100%;
    height: 100%;
    background-image: url(/img/jezero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.tamni
{
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    position: fixed;
    
}
.unutrasnji
{
    margin: 15px 15px 15px 15px;
}
.zaFormu input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    border: none;
    border-bottom: 1px solid blue;
    padding: 5px;
    margin-top: 5px;
}
.svijetli
{
    width: 75%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 25%;
}
.svijetliGornji
{
    height: 50%;
    background-color:rgba(227, 241, 255, 0.356);
}
nav
{
    width: 25%;
    background-color: rgba(128, 161, 214, 0.568);
    height: 100%;
    color: white;
   
}
img{
    width: 28%;
   
}
#Izbornik
{
    margin: 10px 10px 10px 10px;
}
#Izbornik input
{
   width: 100%;
   padding: 10px;
   margin-top: 10px;
   background-color: rgba(133, 151, 161, 0.575);
   border: none;
}
#Izbornik input:hover
{
    background-color: rgba(128, 161, 214, 0.568);

}
.svijetliDonji
{
    height: 50%;
    text-align: center;
    overflow-y: scroll;
   
}
#tabelaProizvodi
{
   
    color: rgb(49, 181, 132);
    text-align: center;
   
}
td 
{
    border-bottom: 1px solid blue;
}
.error
{
    color: red;
}
@media only screen and (max-width: 600px)
{
    html, body, .sve {
        flex-direction: column-reverse;
    }
    
    .tamni {
        width: 100%;
        display: none;
    }
    
    .svijetli {
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }
    nav
    {
        width: 100%;
    }
    .svijetliGornji {
        width: 100%;
        height: 30%;
    }
    
    #tabelaProizvodi {
        border: none;
        outline: none;
        text-align: center;
        overflow-y: scroll;
    }
    
    #tabelaProizvodi th {
        border:none;
        outline: none;
        border-bottom: 2px solid blue;
        color: greenyellow;
    }
    
    .svijetliDonji p {
        text-align: center;
    }
}
